<h3>Lista de carros da empresa: </h3>

<ngx-spinner type="ball-atom">
  <p>Loading...</p>
</ngx-spinner>

<!-- <ul>
  @for (item of carsList; track item) {

  <li>
    Id: {{ item.id }}<br>
    Modelo: {{ item.model }}<br>
    Cor: {{ item.color }}<br>
    Placa: {{ item.licensePlate }}<br>
  </li>
  }
</ul> -->

<div class="carslist-container">

  @for (item of carsList; track item) {
  <div class="car-card">
    <p>Id: {{ item.id }}</p>
    <p>Modelo: {{ item.model }}</p>
    <p>Cor: {{ item.color }}</p>
    <p>Placa: {{ item.licensePlate }}</p>
  </div>
  }



</div>
