<app-navbar></app-navbar>

<h3>Homepage</h3>

<app-create-car-form></app-create-car-form>

<div>

  <button class="btn" (click)="loadList()">
    Exibir lista de carros
  </button>

</div> <br>

<div>
  <app-cars-list *ngIf="showList" [carsList]="data$" [recordsList]="recordsData$"></app-cars-list>
</div>

<div>

  <button class="btn" (click)="loadRecords()">
    Exibir lista de carros alugados
  </button>

</div>

<div *ngIf="showRecords">
  <app-records-list [recordsList]="recordsData$"></app-records-list>
</div>
